html {
	height: 100%;
}

input, textarea, select, option, button, table {
	font-family: "Microsoft JhengHei";
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}

body {

	height: 100%;
}

.reporttable {
	border-spacing: 0px;
}

.reporttable thead {
	color: #ffffff;
	text-align: center;
	background-color: #1857A9;
}

.reporttable thead tr th {
	padding: 0px;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	background-color: #1857A9;
	color: #ffffff;
}

.reporttable tbody tr td {
	padding: 0px;
	line-height: 25px;
	text-align: center;
	font-size: 13px;
}

.reporttable tbody tr:nth-child(even) {
	color: #333333;
	background: #F4F4F4;
}

.reporttable tbody tr:nth-child(odd) {
	color: #333333;
	background: #FFFFFF;
}

select::-ms-expand {
	display: none;
}

select {
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari ©M Chrome */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-image: url(images/select_down.png), -ms-linear-gradient(#A5DAEA, #A5DAEA 95%, #1857A9);
	background-image: url(images/select_down.png), -webkit-linear-gradient(#A5DAEA, #A5DAEA 95%, #1857A9);
	background-image: url(images/select_down.png), -moz-linear-gradient(#A5DAEA, #A5DAEA 95%, #1857A9);
	background-image: url(images/select_down.png), -o-linear-gradient(#A5DAEA, #A5DAEA 95%, #1857A9);
	background-image: url(images/select_down.png), linear-gradient(#A5DAEA, #A5DAEA 95%, #1857A9);
	background-position: 97% center;
	background-repeat: no-repeat;
	border-radius: 2px;
	padding: 3px 60px 3px 10px;
	border: 1px solid #1857A9;
	margin-right: 3px;
	margin-left: 3px;
}

option:hover {
	color: blue;
}

option {
	color: #000000;
}

.datetimeselect {
	width: 45px;
	padding-right: 0px;
	padding-left: 1px;
}

input[type="text"] {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	background-position: 97% center;
	background-repeat: no-repeat;
	border-radius: 2px;
	padding: 3px;
	border: 1px solid #1857A9;
	margin-right: 5px;
	margin-left: 5px;
}

button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A5DAEA), color-stop(1, #1857A9));
	background: -moz-linear-gradient(top, #A5DAEA 5%, #1857A9 100%);
	background: -webkit-linear-gradient(top, #A5DAEA 5%, #1857A9 100%);
	background: -o-linear-gradient(top, #A5DAEA 5%, #1857A9 100%);
	background: -ms-linear-gradient(top, #A5DAEA 5%, #1857A9 100%);
	background: linear-gradient(to bottom, #A5DAEA 5%, #1857A9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A5DAEA', endColorstr='#1857A9', GradientType=0);
	background-color: #1857A9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	border: 0px;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A5DAEA), color-stop(1, #5981B8));
	background: -moz-linear-gradient(top, #A5DAEA 5%, #5981B8 100%);
	background: -webkit-linear-gradient(top, #A5DAEA 5%, #5981B8 100%);
	background: -o-linear-gradient(top, #A5DAEA 5%, #5981B8 100%);
	background: -ms-linear-gradient(top, #A5DAEA 5%, #5981B8 100%);
	background: linear-gradient(to bottom, #A5DAEA 5%, #5981B8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A5DAEA', endColorstr='#5981B8', GradientType=0);
	background-color: #A5DAEA;
}

button:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6AACBF), color-stop(1, #003275));
	background: -moz-linear-gradient(top, #6AACBF 5%, #003275 100%);
	background: -webkit-linear-gradient(top, #6AACBF 5%, #003275 100%);
	background: -o-linear-gradient(top, #6AACBF 5%, #003275 100%);
	background: -ms-linear-gradient(top, #6AACBF 5%, #003275 100%);
	background: linear-gradient(to bottom, #6AACBF 5%, #003275 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6AACBF', endColorstr='#003275', GradientType=0);
	position: relative;
	top: 1px;
}

button:disabled {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8efff), color-stop(1, #62b6f5));
	background: -moz-linear-gradient(top, #b8efff 5%, #62b6f5 100%);
	background: -webkit-linear-gradient(top, #b8efff 5%, #62b6f5 100%);
	background: -o-linear-gradient(top, #b8efff 5%, #62b6f5 100%);
	background: -ms-linear-gradient(top, #b8efff 5%, #62b6f5 100%);
	background: linear-gradient(to bottom, #b8efff 5%, #62b6f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8efff', endColorstr='#62b6f5', GradientType=0);
	background-color: #b8efff;
	cursor: default;
}

.timeOption{
	width:45px;
	padding-right:0;
	padding-left:3px;
}

.arrowDiv {
	position: relative;
}

.descArrow {
	display: inline-block;
	border: 5px solid;
	border-color: #70FF90 transparent transparent transparent;
}

.ascArrow {
	display: inline-block;
	border: 5px solid;
	border-color: transparent transparent #70FF90 transparent;
}
